$mobile: 768px;
$map-width: 90vw;
$map-height: 90vh;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
#root {
	height: 100vh;
	width: 100vw;
}

h1 {
	text-align: center;
}

.wrapper {
	margin: 10px 10px 0px 10px;
	padding: 10px 10px 0px 10px;
}

.leaflet-container {
	height: $map-height;
	width: $map-width;
}

.content-container {
	display: flex;
	justify-content: space-between;
	@media only screen and (max-width: $mobile) {
		align-content: center;
		justify-content: baseline;
		flex-direction: column;
	}
}

.sider {
	@media only screen and (max-width: $mobile) {
		width: $map-width;
		height: auto;
		padding: 5px;
	}
	padding: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: auto;
	height: 80vh;
	.content {
		@media only screen and (max-width: $mobile) {
			display: flex;
			justify-content: space-evenly;
		}
		padding: 10px;
	}
}

.position {
	@media only screen and (max-width: $mobile) {
	}
}

/* The switch - the box around the slider */
.switch-container {
	width: auto;
	height: auto;
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;

		&:before {
			position: absolute;
			content: '';
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: white;
			-webkit-transition: 0.4s;
			transition: 0.4s;
		}
	}

	input:checked + .slider {
		background-color: #2196f3;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196f3;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
}
